---
import fs from "node:fs/promises";
import { Markdown } from "@astropub/md";

interface Props {
  file: string;
  lang?: string;
  title?: string;
  meta?: string;
  open?: boolean;
}
const { file, lang, meta, title, open=true } = Astro.props;
const fileNamePath = file;
const fileEtension = file.split(".").pop() ?? "python";
const code = await fs.readFile(fileNamePath, "utf-8");
const codeSegment = `
\`\`\`${lang} title="${title ?? fileEtension}" showLineNumbers{1} ${meta}
${code} 
\`\`\`
`;

const githubLink = `https://github.com/Ravikisha/PythonCentralHub/blob/main/${file}`;
---

<details open={open}>
  <summary>⚙️ {title}</summary>
  <a
    href={githubLink}
    class="text-right"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fa-brands fa-github fa-2x text-right w-full"> </i>
  </a>
  <Markdown of={codeSegment} />
</details>
